<!DOCTYPE html>
<html>
    <head>
        <!-- Standard HTML 
            Basically makes sure it takes up the whole screen -->
        <meta charset = "utf-8" />
        <meta name = "viewport" content = "width = device-width, initial-scale=1" />

        <!-- Link to CDN which allows us to load custom CSS without actually downloading the file -->
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
      />
        <!-- block title used for our children templates, which they can override-->
        <title>
            {% block title %}
            Home
            {% endblock %}

        </title>

    </head>

    <body>
        <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Need button that'll scale it (say we're on mobile device) -->
            <button 
            class = "navbar-toggler" 
            type = "button"
            data-toggle = "collapse" 
            data-target = "#navbar"
            > <!-- # sign is for ID of navbar -->
                <span class = "navbar-toggler-icon"> </span> <!-- Loads icon for us, which'll show up once we press on button -->

            </button>
            <!-- Have collapsable navbar-->
            <div class = "collapse navbar-collapse" id = "navbar">
                <div class = "navbar-nav">
                    <!-- Basically creates a link so one we click on it, it'll redirect us to /login -->
                    <a class="nav-item nav-link" id = "login" href= "/login">Login </a>
                    <a class="nav-item nav-link" id = "signUp" href= "/sign-up">Sign Up </a>
                    <a class="nav-item nav-link" id = "logout" href= "/logout">Logout </a>
                    <a class="nav-item nav-link" id = "home" href= "/">Home </a>

                </div>
            </div>
            
            <!-- Get all messages with category and display on screen-->
            {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
              {% for category, message in messages %}
              {% if category == 'error' %}
              <div class = "alert alert-danger alter-dismissable fade show" role = "alert">
                {{ message }}
                <button type = "button" class = "close" data-dismiss = "alert">
                  <span aria-hidden = "true">&times;</span> <!-- Fancy x that shows within the button-->
                </button>
              </div>
              {% else %}
              <!-- Only difference is that we change background color to green-->
              <div class = "alert alert-success alter-dismissable fade show" role = "alert">
                {{ message }}
                <button type = "button" class = "close" data-dismiss = "alert">
                  <span aria-hidden = "true">&times;</span> <!-- Fancy x that shows within the button-->
                </button>
              </div>  
              {% endif %}     
              {% endfor %}
              {% endif %}
              {% endwith %}

        </nav>
        <div class = "container"> <!-- container makes it so there's padding between navbar and screen -->
            {% block content %}
            
            {% endblock %}
        </div>

        <!-- Load in javascript stuff to make our make our stuff prettier-->
        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script> 
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
      ></script>      
      <!-- Load in files from our static folder (things we don't want to change) -->
      <!-- Python function url_for loads our folder for us -->
      <!-- double curly braces { } means we write a python expression (variable, function, something that can evaluated) -->
      
      <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
    ></script>

    </body>


</html>
