{% extends "base.html" %}

{% block title %} 
    Sign Up
{% endblock %}

{% block content %}
<!-- When submit form, send POST request to backend-->
<form method = "POST">
    <!-- Used for Email -->
    <h3 align = "center">Sign up</h3>
    <div class = "form-group">
        <!-- Place fields in here for signup form-->
        <label for = "email">Email Address</label>
        <!-- Need to make sure to define a name bc it's what attribute is called when we pass information into our field into our backend-->
        <!-- On our backend, we'll be able to access email address by whatever name = -->
        <input type = "email" class = "form-control" id = "email" name = "email" placeholder = "Enter email"/>
    </div>

    <!-- Used for first name-->
    <div class = "form-group">
        <!-- Place fields in here for signup form-->
        <label for = "firstName">First Name</label>
        <!-- Need to make sure to define a name bc it's what attribute is called when we pass information into our field into our backend-->
        <!-- On our backend, we'll be able to access email address by whatever name = -->
        <input type = "text" class = "form-control" id = "firstName" name = "firstName" placeholder = "Enter first name"/>
    </div>

    <!-- Used for password-->
    <div class = "form-group">
        <!-- Place fields in here for signup form-->
        <label for = "password1">Password</label>
        <!-- Need to make sure to define a name bc it's what attribute is called when we pass information into our field into our backend-->
        <!-- On our backend, we'll be able to access email address by whatever name = -->
        <input type = "password" class = "form-control" id = "password1" name = "password1" placeholder = "Enter password"/>
    </div>

    <!-- Used for password confirmation-->
    <div class = "form-group">
        <!-- Place fields in here for signup form-->
        <label for = "password2">Password (Confirm)</label>
        <!-- Need to make sure to define a name bc it's what attribute is called when we pass information into our field into our backend-->
        <!-- On our backend, we'll be able to access email address by whatever name = -->
        <input type = "password" class = "form-control" id = "password2" name = "password2" placeholder = "Confirm password"/>
    </div>

    <br />
    <button type = "submit" class = "btn btn-primary">Submit</button>


</form>

{% endblock %}